Source: carbon-c-relay
Section: unknown
Priority: optional
Maintainer: Jose Riguera <jriguera@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/grobian/carbon-c-relay

Package: carbon-c-relay
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
