#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
EXCLUDE = --exclude-vcs --exclude=debian


override_dh_auto_configure:
	# do nothing, no ./configure

override_dh_auto_test:
	# do nothing, no make test

override_dh_install:
	# build all supported versions
	$(MAKE) install PREFIX=$(CURDIR)/debian/carbon-c-relay

override_dh_installdocs:
	dh_installdocs --all README.md


clean: debian/control

orig: debian/control clean
	cd .. && tar czf prefix_$(PKGVERS).orig.tar.gz $(EXCLUDE) prefix

%:
	dh $@


.PHONY: debian/control

